.flat-btn {
  border: none;
  padding: 0;
  vertical-align: top;
  width: 120px;
  padding: 10px 20px;
  font-size: 15px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid;
  background-color: transparent;
  i {
    margin-top: -3px;
    font-size: 18px;
    margin-right: 8px;
    color: inherit;
  }
}

// sequelize
.flat-btn.large {
  font-size: 17px;
  i {
    font-size: 20px;
  }
}

// COLOR YELLOW

.flat-btn.yellow {
  background-color: transparent;
  color: $background-text-light;
  border-color: #ccd0d9;
  &:hover {
    background-color: #f7f8f9;
    i {
      @include spin-effect;
    }
  }
}

.flat-btn.yellow.active {
  background-color: #ffb640;
  color: $white;
  border-color: #ffb640;
  i {
    color: $white;
  }
}

// COLOR CLEAR

.flat-btn.clear {
  color: $primary-text-medium;
  border-color: rgba(228, 237, 253, 0.6);
  i {
    color: $primary-text-medium;
  }
  &:hover {
    color: $white;
    border-color: $white;
    i {
      color: $white;
      @include spin-effect;
    }
  }
}

.flat-btn.clear.active {
  i {
    color: #ffb640;
  }
  &:hover {
    color: $white;
  }
}

// BLUE

.flat-btn.blue {
  background-color: $chat-blue;
  border-color: $chat-blue;
  color: $white;
  &:hover {
    background-color: $chat-blue-hover;
    border-color: $chat-blue-hover;
  }
}
