.auth-form {
  height: 100%;

  .form-validation {
    @include vertical-align();
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;

    background-color:  #ffffff;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);

    text-align: center;

    .dob-input__month, .dob-input__day, {
      width: 65px;
      margin-right: 10px;
    }
    .dob-input__year {
      width: 90px;
    }
  }

  .form-row {
    position: relative;
    text-align: left;
    margin-bottom: 23px;
    .form-input-container {
      vertical-align: top;
      position: relative;
      box-sizing: border-box;
      width: 240px;
      display: inline-block;
    }
  }

  .form-title-row {
    text-align: center;
    margin-bottom: 55px;
  }

  .form-validation h1 {
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 8px;
    border-bottom: 2px solid #6caee0;
    margin:0;
  }

  .form-validation .form-row > label > span {
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 180px;
    text-align: right;
    padding: 8px 25px;
  }

  .form-validation input {
    vertical-align: top;
    position: relative;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
  }

  /* Styles for Invalid input data */

  .form-invalid-data {
    margin-bottom: 25px;
    .form-invalid-data-info, .form-invalid-date-info {
      display: block;
    }
  }

  .form-invalid-data input {
    border: 1px solid #d37171;
    box-shadow: 2px 3px 4px 0 rgba(200, 77, 77, 0.15);
  }

  .form-invalid-data-info,
  .form-invalid-date-info {
    display: none;
    background-color: white;
    position: absolute;
    color: #c84d4d;
    left: 0;
    top: 60px;
    width: 100%;
  }

  .form-input-select  > .inline-block:first-child {
    margin-bottom: 15px;
  }

  .form-input-date {
    .form-invalid-data-info {
      top: 45px;
    }
  }

  .form-validation .form-checkbox input {
    width:auto;
  }

  .form-validation button {
    display: block;
    // border-radius: 2px;
    // background-color:  #6caee0;
    // color: #ffffff;
    // font-weight: bold;
    // box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    // padding: 14px 22px;
    // border: 0;
    margin: 40px 183px 0;
    font-size: 20px;
    padding: 10px 25px;
  }

  .form-footer {
    margin: 30px 0 0 183px;
  }
  /* Placeholder color */

  .form-validation ::-webkit-input-placeholder  {
    color:  #999;
    opacity: 0.5;
    font-weight: normal;
  }

  .form-validation ::-moz-placeholder  {
    color:  #999;
    opacity: 0.5;
    font-weight: normal;
  }

  .form-validation :-ms-input-placeholder  {
    color:  #999;
    opacity: 0.5;
    font-weight: normal;
  }

  /*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

  @media (max-width: 700px)  {
    .form-validation {
      @include top-align();
      margin-top: 5%;
      padding: 30px;
      max-width: 480px;
      box-shadow: none;
    }

    .form-validation .form-row {
      max-width: 300px;
      margin: 25px auto;
      text-align: left;
    }

    .form-validation .form-title-row {
      margin-bottom: 50px;
    }

    .form-validation h1 {
      padding: 0 0 15px 0;
    }

    .form-validation .form-row > label > span {
      display: block;
      text-align: left;
      padding: 0 0 15px;
    }

    .form-validation input,
    .form-validation select {
      width: 300px;
      max-width: 100%;
    }

    .form-validation .form-invalid-data-info {
      left: 0;
    }

    .form-validation .form-checkbox span {
      display: inline-block !important;
      width: 100px !important;
    }

    .form-validation button {
      margin: 0;
    }

    .form-validation .form-footer {
      margin-left: 0;
    }
  }

}
