.Root-component {
  .navbar {
    margin-bottom: 0px;
    .navbar-nav>li>a {
      height: 50px;
    }
    .navbar-brand>span>img {
      width: 100px;
      margin: -13px 10px 0 20px;
      float: left;
      -ms-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  .unread-count {
    @include shadow-0;
    color: $white;
    background-color: $red;
    padding: 2px 4px;
    border-radius: 50%;
    display: inline-block;
    min-width: 24px;
    text-align: center;
  }
}
