.Root-component {
  .navbar {
    z-index: 100;
    margin-bottom: 0px;
    background-color: $primary;
    height: 60px;
    border-radius: 0px;
    color: $primary-text-dark;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(157,186,242,0.25);

    .navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
      color: inherit;
      font-size: 17px;
      height: 100%;
      line-height: 30px;
      background-color: transparent;
      padding: 15px 30px;
      .fa-comments {
        font-size: 35px;
        margin-top: -3px;
      }
      .fa-star {
        font-size: 32px;
      }
    }

    .navbar-nav > li > a:hover {
      color: $white;
    }

    .navbar-nav > li.active > a {
      background-color:#114285;
      .unread-count, .interested-count {
        -moz-box-shadow: 0 0 0 3px #114285;
        -webkit-box-shadow: 0 0 0 3px #114285;
        box-shadow: 0 0 0 3px #114285;
      }
    }

    .navbar-brand>span>img {
      width: 75px;
      margin: 2px 10px 0 20px;
      float: left;
      // -ms-transform: rotate(10deg);
      // -webkit-transform: rotate(10deg);
      // transform: rotate(10deg);
    }
  }
  .dropdown-toggle {
    .img-container {
      @include shadow-0;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: -5px 10px 0 0;
      display: inline-block;
      img {
        display: block;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .text-container {
      display: inline-block;
      vertical-align: top;
    }
  }
  .unread-count, .interested-count {
    -moz-box-shadow: 0 0 0 3px $primary;
    -webkit-box-shadow: 0 0 0 3px $primary;
    box-shadow: 0 0 0 3px $primary;
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 15px;
    font-size: 15px;
    height: 24px;
    padding: 4px;
    color: $white;
    border-radius: 50%;
    min-width: 24px;
    text-align: center;
  }
  .unread-count {
    background-color: #ff597e;
  }
  .interested-count {
    background-color: #4c7bd9;
  }

  .navbar-nav>li>ul.dropdown-menu {
    font-size: 15px;
    right: 20px;
    border-radius: 4px;
    li {
      @include cursor-hand;
    }
    li:last-child {
      border-top: 1px solid #ccd0d9;
    }
    li a {
      padding: 10px 20px;
    }
    i {
      color: #517cd8;
      font-size: 20px;
      margin-right: 10px;
    }
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -16px;
      left: 75px;
      height: 0;
      width: 0;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white;
    }
  }
}
