# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
dist

public/bundle.js
server/config.js
.env
public/youTube_API_KEY.js
server/config/config.json

# Ignore Mac DS_Store files
.DS_Store
