# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
dist

server/config.js
server/config/config.json
.env
public/youTube_API_KEY.js
server/config/config.json

# Ignore Mac DS_Store files
.DS_Store

public/bundle.js
public/bundle.js.map
public/style.css
