.UserDetail-component {
  position: relative;

  .profile-banner-container {
    background-color: #104da1;
    background-image: -webkit-linear-gradient(#104da1,#0f4693);
    background-image: linear-gradient(#104da1,#0f4693);
    padding-top: 40px;
  }

  .profile-content-container {

  }


  .profile-banner {
    @include layout-container;
    color: $white;

    .inner-1 {
      height: 160px;
    }
    .inner-1 > div {
      @include cursor-hand;
      @include shadow-1;
      @include transition-default;
      z-index: 1;
      width: 200px;
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      height: 200px;
      left: -30px;
      &:hover {
        border-radius: 5%;
      }
    }

    .online-indicator {
      display: inline-block;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin-bottom: 15px;
    }

    .inner-2 {
      height: 160px;
      padding: 50px 0 0 70px;
      .username {
        @include elipsis-text;
        font-size: 35px;
        display: inline-block;
        max-width: 90%;
        margin-right: 15px;
      }
      .info {
        font-size: 20px;
        margin-top: 5px;
        color: $primary-text-medium;
      }
    }

    .inner-3 {
      height: 160px;
      padding: 50px 0;
      button {
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
      }
    }
  }

  .profile-content {
    min-height: 500px;
    background: #c0c0c0;
    @include layout-container;
    .inner-1 {
      background-color: yellow;
      min-height: 300px;
      float: right;

    }

    .inner-2 {
      background-color: orange;
      min-height: 500px;
      float: right;


    }
  }

}

@include mobile {
  .UserDetail-component {
    .profile-banner-container {
      padding-top: 20px;
    }
    .profile-banner {
      .inner-1 {
        height: 200px;
      }
      .inner-1 > div {
        border-radius: 5%;
        left: 0px;
      }

      .inner-2 {
        padding: 0px;
        height: auto;
        .username {
          font-size: 25px;
        }
        .info {
          font-size: 15px;
        }
      }

      .inner-3 {
        height: auto;
        padding: 20px 0;
        button {
          margin-right: 10px;
          margin-left: 0px;
          float: left;
        }
      }
    }

    .profile-content {
      .inner-1 {
        float: none;
      }
      .inner-2 {
        float: none;
      }
    }
  }
};
// .row > div {
//   height: 160px;
//   color: white;
//   border: 1px dotted black;
// }
