body.app-body, html {
  height: 100%;
  background-repeat: no-repeat;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: $background;
  color: $background-text-medium;
  a {
    text-decoration: none;
    color: inherit;
  }
  button, button:active, button:hover, button:focus, button:visited {
    outline: none;
    text-transform: none;
    display: inline-block;
    -webkit-transition-property: background-color,color,border;
    -moz-transition-property: background-color,color,border;
    transition-property: background-color,color,border;
    -webkit-transition-duration: 75ms;
    -moz-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    cursor: pointer;
  }
  .btn-primary {
    &:hover {
      border-color: transparent;
    }
    &:focus {
      background-color: #337ab7;
    }
  }
  form {
    margin-bottom: 0px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }


  i.fa {
    @include cursor-hand;
    vertical-align: middle;
  }

  img {
    width:100%;
  }

  .error {
    color: red;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
