// Main colors
$primary: #104da1; // blue theme
// $primary: #ee3888; // pink theme
$background: #fafbfd;

// Text (from light to dark)
$background-text-hover-light: #d5e0f8;
$background-text-fade: #aeb4bf;
$primary-text-light: #fff;
$primary-text-medium: #e4edfd;
$primary-text-dark: #d6e1f9;

$grey-1: #ccd0d9;

$background-text-default: #5e6573;
$background-text-fade: #aeb4bf;
$background-text-light: #949aa6;
$background-text-medium: #5e6573;
$background-text-dark: #474d59;

$white: #fff;
$black: #000;
$grey: #ddd;
$red: #fa3e3e;

$chat-blue: #4c7bd9;
$chat-grey: #ebedf2;
$chat-grey-text: #2a2f35;
