@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin top-align($position: relative) {
  position: $position;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

// layout
@mixin layout-container {
  position: relative;
  max-width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

// transitions
@mixin transition-all() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@mixin transition-2s {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease;
}

@mixin transition-1s {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

@mixin transition-default {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin cursor-hand {
  cursor: pointer;
  cursor: hand;
}

// shadows - increasing size/darkness
@mixin shadow-0 {
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

@mixin shadow-1 {
  box-shadow: 0 0 0 1px rgba(0,17,53,0.16), 0 0 5px 0 rgba(0,17,53,0.16);
}

// spin effect
@mixin spin-effect {
  -webkit-animation: spin 2s infinite linear;
  animation:spin 2s infinite linear;
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
}

@mixin elipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin image-align-middle {
  display: block;
  width:100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
