.Home-component {
  .breathable-container {
    margin: 0 auto;
    max-width: 1200px;
    @media only screen and (max-width: 1256px) {
      width: 900px;
    }
    @media only screen and (max-width: 956px) {
      width: 600px;
    }
    @media only screen and (max-width: 656px) {
      width: 300px;
    }
  }
}

.user-card-wrapper {
  float: left;
  position: relative;
  margin: 0 10px 40px;
}

.user-card {
  display: block;
  position: relative;
  overflow: hidden;
  width: 280px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  text-align: center;
  color: $background-text-default;
  background-color: #fff;
  font-size: 15px;
  .user-card-img-wrapper {
    height: 280px;
    overflow: hidden;
    img {
      @include image-align-middle;
    }
  }
  .user-card__text-box {
    margin: 15px 20px;
    .username {
      @include elipsis-text;
      font-size: 22px;
      margin-bottom: 10px;
    }
    .userinfo {
      color: $background-text-light;
    }
  }
  button {
    margin-bottom: 20px;
  }
  .online-indicator {
    padding: 0px 15px;
    border-radius: 20px;
    line-height: 28px;
    width: 72px;
    position: absolute;
    top: 240px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
