.Home-component {
  .breathable-container {
    margin: 0 auto;
    max-width: 1256px;
    @media only screen and (max-width: 1256px) {
      width: 940px;
    }
    @media only screen and (max-width: 956px) {
      width: 640px;
    }
    @media only screen and (max-width: 656px) {
      width: 340px;
    }
  }
}

.user-card-wrapper {
  float: left;
  position: relative;
  margin: 0 10px 40px;
}

.user-card {
  display: block;
  position: relative;
  overflow: hidden;
  width: 280px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  text-align: center;
  color: $background-text-default;
  font-size: 15px;
  img {
    width: 100%;
  }
  .user-card__text-box {
    margin: 15px 0;
    .username {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .userinfo {
      color: $background-text-light;
    }
  }
  button {
    margin-bottom: 20px;
  }
}
