.SearchBox-component {
  margin-bottom: 30px;
  background-color: $primary;
  color: $primary-text-medium;
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 20px;

  form {
    max-width: 1180px;
    margin: 0 auto;
  }

  .search-box-row {
    @include transition-all;
    height: 40px;
  }

  .search-box-row.slide-hidden {
    overflow: hidden;
    max-height: 0px;
  }

  .search-box-row.slide-down {
    overflow: visible;
    max-height: 40px;
  }

  .search-box-item-label {
    display: block;
    float: left;
    font-size: 17px;
    margin-top: 8px;
    i.fa {
      font-size: 16px;
      padding: 4px 10px;
      margin-left: 20px;
    }
  }

  .search-box-item-wrapper {
    display: block;
    float: left;
  }

  .search-box-btn-wrapper {
    float: right;
    margin-top: 3px;
    button {
      width: auto;
      padding: 5px 10px;
      font-size: 17px;
    }
  }

  .rw-dropdownlist>.rw-select {
    display: none;
  }

  .search-box-item-gender.rw-widget.rw-dropdownlist {
    .rw-popup-container {
      min-width: 100px;
    }
  }
  .search-box-item-age.rw-widget.rw-dropdownlist {
    // width: 39px;
  }
  .search-box-item-height.rw-widget.rw-dropdownlist {
    // width: 74px;
  }
  .search-box-item-province.rw-widget.rw-dropdownlist {
    .rw-popup-container {
      min-width: 200px;
    }
  }
  .search-box-item-city.rw-widget.rw-dropdownlist {
    .rw-popup-container {
      min-width: 300px;
    }
  }


  .rw-widget.rw-dropdownlist {
    background-color: transparent;
    border-color: transparent;
    padding: 0px 8px;
    .rw-input {
      font-size: 17px;
      padding: 0px;
      color: $primary-text-medium;
      border-radius: 0px;
      border-bottom: 1px dashed $primary-text-medium;
      height: 30px;
      text-overflow: clip;
      white-space: normal;
      overflow: visible;
      &:hover {
        border-bottom: 1px solid $primary-text-medium;
      }
    }
    .rw-i {
      color: $primary-text-medium;
      margin-top: 10px;
    }
    .rw-popup-container {
      min-width: 100px;
    }
  }

  .rw-widget.rw-state-focus, .rw-widget.rw-state-focus:hover {
    border-color: $primary;
    outline: none;
  }

  ul.rw-list>li.rw-list-option, .rw-selectlist>li.rw-list-option  {
      padding: 10px;
  }

  ul.rw-list>li.rw-list-option.rw-state-selected, ul.rw-list>li.rw-list-option.rw-state-selected:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  ul.rw-list>li.rw-list-option:hover {
    background-color: $background-text-hover-light;
    border-color: $primary-text-light;
  }
}
