.SearchBox-component {
  margin: 0 10px 30px;
  background-color: $primary;
  color: $primary-text-medium;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  padding: 10px 20px;
  min-height: 60px;

  .search-box-row {
    height: 40px;
  }

  .search-box-item-label {
    display: block;
    float: left;
    font-size: 16px;
    margin-top: 8px;
  }

  .search-box-item-wrapper {
    display: block;
    float: left;
  }

  .search-box-btn-wrapper {
    float: right;
  }

  .search-box-item-wrapper__age {
    width: 38px;
  }

  .rw-dropdownlist>.rw-select {
    display: none;
  }

  .search-box-item-sex {
    width: 77px;
  }
  .search-box-item-age {
    width: 65px;
  }
  // .search-box-item-height {
  //   width: 85px;
  // }

  .rw-widget.rw-dropdownlist {
    background-color: transparent;
    border-color: transparent;
    padding: 0px 8px;
    .rw-input {
      font-size: 16px;
      padding: 0px 0px;
      color: $primary-text-medium;
      font-weight: bold;
    }
    .rw-i {
      color: $primary-text-medium;
      margin-top: 10px;
    }
  }

  .rw-widget.rw-state-focus, .rw-widget.rw-state-focus:hover {
    border-color: $primary;
    outline: none;
  }

  ul.rw-list>li.rw-list-option.rw-state-selected, ul.rw-list>li.rw-list-option.rw-state-selected:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  ul.rw-list>li.rw-list-option:hover {
    background-color: $background-text-fade;
    border-color: $primary-text-light;
  }
}
